{% extends 'index.html' %}
{% block content %}
<br><br>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">Contas</div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Conta</th>
              <th scope="col">RecDes</th>
              <th scope="col">FixVar</th>
              <th scope="col">Invest</th>
              <th scope="col">Saldo</th>
              <th scope="col">Antigas</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for d in tb %}
            <tr>
              <td>{{ d['id'] }}</td>
              <td>{{ d['Conta'] }}</td>

              {% if d['RecDes'] == 0 %}
                <td>Receita</td>
              {% elif d['RecDes'] == 1 %}
                <td>Despesa</td>
              {% else %}
                <td>{{ d['RecDes'] }}</td>
              {% endif %}

              {% if d['FixVar'] == 0 %}
                <td>Fixa</td>
              {% elif d['FixVar'] == 1 %}
                <td>Variavel</td>
              {% else %}
                <td>{{ d['FixVar'] }}</td>
              {% endif %}

              {% if d['Inv'] == 0 %}
                <td>Nao</td>
              {% elif d['Inv'] == 1 %}
                <td>Sim</td>
              {% else %}
                <td>{{ d['Inv'] }}</td>
              {% endif %}

              {% if d['Saldo'] == 0 %}
                <td>Nao</td>
              {% elif d['Saldo'] == 1 %}
                <td>Sim</td>
              {% else %}
                <td>{{ d['Saldo'] }}</td>
              {% endif %}

              {% if d['Antigas'] == 0 %}
                <td>Nao</td>
              {% elif d['Antigas'] == 1 %}
                <td>Sim</td>
              {% else %}
                <td>{{ d['Antigas'] }}</td>
              {% endif %}

              <td><a href="/config/contas?mode=edit&id={{ d['id'] }}" class="badge badge-danger">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% if modo == 'I' %}
  <div class="col-4">
    <div class="card">
      <div class="card-header">Adicionar</div>
      <div class="card-body">
        <form  action="/config/contas" method="post">
          <div class="form-group row">
            <label for="idContas" class="col-4 col-form-label">Conta</label>
            <div class="col-8"><input type="text" class="form-control  form-control-sm" id="idContas" placeholder="Conta" name="conta" autocomplete="off"></div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Tipo</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="RecDes" id="gridRadios1" value="0" checked>
                  <label class="form-check-label" for="gridRadios1">Receita</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="RecDes" id="gridRadios2" value="1">
                  <label class="form-check-label" for="gridRadios2">Despesa</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Recorrencia</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FixVar" id="gridRadios3" value="0" checked>
                  <label class="form-check-label" for="gridRadios3">Fixa</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FixVar" id="gridRadios4" value="1">
                  <label class="form-check-label" for="gridRadios4">Variavel</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Investimento</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Invest" id="gridRadios5" value="0" checked>
                  <label class="form-check-label" for="gridRadios3">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Invest" id="gridRadios6" value="1">
                  <label class="form-check-label" for="gridRadios4">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Saldo</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Saldo" id="gridRadios5" value="0" checked>
                  <label class="form-check-label" for="gridRadios3">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Saldo" id="gridRadios6" value="1">
                  <label class="form-check-label" for="gridRadios4">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Antigas</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Antigas" id="gridRadios6" value="0" checked>
                  <label class="form-check-label" for="gridRadios7">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Antigas" id="gridRadios8" value="1">
                  <label class="form-check-label" for="gridRadios9">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-10">
              <button type="submit" class="btn btn-primary btn-sm" name="Criar" value="Criar">Criar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% elif modo == 'E' %}
  <div class="col-4">
    <div class="card">
      <div class="card-header">Editar</div>
      <div class="card-body">
        <form  action="/config/contas" method="post">
          <div class="form-group row">
            <label for="idID" class="col-4 col-form-label">ID</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idID" name="id" value="{{ rs['id'] }}" readonly></div>
          </div>
          <div class="form-group row">
            <label for="idContas" class="col-4 col-form-label">Conta</label>
            <div class="col-8"><input type="text" class="form-control  form-control-sm" id="idContas" placeholder="Conta" name="conta" autocomplete="off" value="{{ rs['Conta'] }}"></div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Tipo</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="RecDes" id="gridRadios1" value="0" {{ 'checked' if 0 == rs['RecDes'] else '' }}>
                  <label class="form-check-label" for="gridRadios1">Receita</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="RecDes" id="gridRadios2" value="1" {{ 'checked' if 1 == rs['RecDes'] else '' }}>
                  <label class="form-check-label" for="gridRadios2">Despesa</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Recorrencia</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FixVar" id="gridRadios3" value="0"  {{ 'checked' if 0 == rs['FixVar'] else '' }}>
                  <label class="form-check-label" for="gridRadios3">Fixa</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FixVar" id="gridRadios4" value="1"  {{ 'checked' if 1 == rs['FixVar'] else '' }}>
                  <label class="form-check-label" for="gridRadios4">Variavel</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Investimento</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Invest" id="gridRadios5" value="0" {{ 'checked' if 0 == rs['Inv'] else '' }}>
                  <label class="form-check-label" for="gridRadios3">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Invest" id="gridRadios6" value="1" {{ 'checked' if 1 == rs['Inv'] else '' }}>
                  <label class="form-check-label" for="gridRadios4">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Saldo</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Saldo" id="gridRadios5" value="0" {{ 'checked' if 0 == rs['Saldo'] else '' }}>
                  <label class="form-check-label" for="gridRadios3">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Saldo" id="gridRadios6" value="1" {{ 'checked' if 1 == rs['Saldo'] else '' }}>
                  <label class="form-check-label" for="gridRadios4">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-4 pt-0">Antigas</legend>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Antigas" id="gridRadios7" value="0" {{ 'checked' if 0 == rs['Antigas'] else '' }}>
                  <label class="form-check-label" for="gridRadios3">Nao</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Antigas" id="gridRadios8" value="1" {{ 'checked' if 1 == rs['Antigas'] else '' }}>
                  <label class="form-check-label" for="gridRadios4">Sim</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-10">
              <button type="submit" class="btn btn-primary btn-sm" name="Update" value="Update">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}
</div>
{% endblock %}
