{% extends 'index.html' %}

{% block content %}
<br>
<div class="row">
  <div class="col-10">
    <div class="card">
      <div class="card-header">Detalhe do Mes por Cona</div>
      <div class="card-body">
        <form  action="/despesas/editarcontames" method="post">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Conta</th>
              <th scope="col">Texto</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for r in tb %}
              <input type="hidden" name="id_{{ loop.index }}" value="{{ r['id'] }}">
              <tr>
                <td>{{ r['datahora']}}</td>
                <td>
                  <select class="form-control form-control-sm" name="conta_{{ loop.index }}">
                    <option value="0"></option>
                    {% for d in labels %}
                      <option value="{{ d['id'] }}" {{ 'Selected' if d['id'] == id_conta else '' }}>{{ d['Conta'] }}</option>
                    {% endfor %}
                    <option value="9999">Ignorar</option>
                  </select>
                </td>
                <td><input type="text" class="form-control form-control-sm" name="texto_{{ loop.index }}" value="{{ r['texto']}}"></td>
                <td class='alnright'>{{ "{:0,.2f}".format(r['valor']) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="Update" value="Update">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}