{% extends 'index.html' %}

{% block content %}
<br>
<div class="row">
  <div class="col-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ links['ant'] }}">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="{{ links['pos'] }}">Posterior</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <div class="card">
      <div class="card-header">Detalhe do Mes</div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Conta</th>
              <th scope="col">Texto</th>
              <th scope="col">Valor</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for r in tb['detalhe'] %}
            <tr>
              <td>{{ r['datahora']}}</td>
              <td>{{ r['Conta']}}</td>
              <td>{{ r['texto']}}</td>
              <td class='alnright'>{{r['valor']}}</td>
              <td class='alnright'>{{r['total']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">Despesas</div>
      <div class="card-body">
        <form  action="/despesas/resumo" method="post">

          <div class="form-group row">
            <label for="idConta" class="col-4 col-form-label">Conta</label>
            <div class="col-8">
              <select class="form-control form-control-sm" id="idConta">
                {% for d in labels %}
                  <option value="{{ d['id'] }}">{{ d['Conta'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="idDatePicker" class="col-4 col-form-label">Conta</label>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" id="idDatePicker"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="idValor" class="col-4 col-form-label">Valor</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idValor" placeholder="Valor 1.234,56"></div>
          </div>

          <div class="form-group row">
            <label for="idConta" class="col-4 col-form-label">Pessoa</label>
            <div class="col-8">
              <select class="form-control form-control-sm" id="idConta">
                {% for d in pessoas %}
                  <option value="{{ d['id'] }}">{{ d['Nome'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="idConta" class="col-4 col-form-label">Bem</label>
            <div class="col-8">
              <select class="form-control form-control-sm" id="idConta">
                {% for d in bens %}
                  <option value="{{ d['id'] }}">{{ d['Nome'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary" name="Inserir" value="Criar">Inserir</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Sem Classificacao</div>
      <div class="card-body">
        <form  action="{{ links['atual'] }}" method="post">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Texto</th>
              <th scope="col">Valor</th>
              <th scope="col">Conta</th>
            </tr>
          </thead>
          <tbody>
            {% for r in tb['naoclass'] %}
            <tr>
            <input type="hidden" name="id_{{ loop.index }}" value="{{ r['id'] }}">

              <td>{{ r['datahora']}}</td>
              <td>{{ r['texto']}}</td>
              <td class='alnright'>{{r['valor']}}</td>
              <td>
                <select class="form-control form-control-sm" name="conta_{{ loop.index }}">
                  <option value="0"></option>
                  {% for d in labels %}
                    <option value="{{ d['id'] }}">{{ d['Conta'] }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="Update" value="Update">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#idDatePicker").datepicker();
    $("#idDatePicker").datepicker("option", "dateFormat", "dd/mm/yy");
  });
</script>

{% endblock %}