{% extends 'index.html' %}
{% block content %}
<br>
<div class="row">
  <div class="col-12">
    <form  action="/despesas/resumoconta" method="post">
      <div class="card">
        <div class="card-header">Classificar</div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Texto</th>
                <th scope="col">Valor</th>
                <th scope="col">Conta</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for r in tb %}
              <tr>
                <td><input type="text" class="form-control form-control-sm" name="{{ loop.index }}_ID" value="{{ r['id']}}" size="1" readonly></td>
                <td>{{ r['datahora']}}</td>
                <td><input type="text" class="form-control form-control-sm" name="{{ loop.index }}_texto" value="{{ r['texto']}}" size="50"></td>
                <td class="alnright">{{ "{:0,.2f}".format(r['valor']) }}</td>
                <td>
                  <select class="form-control form-control-sm" name="{{ loop.index }}_Conta" style="max-width:100%;">
                    <option value="0"></option>
                    {% for d in labels %}<option value="{{ d['id'] }}" {{ 'Selected' if d['id'] == r['id_conta'] else '' }}>{{ d['Conta'] }}</option>{% endfor %}
                  </select>
                </td>
                <td><a href="/despesas/editar?id={{ r['id'] }}&backto=despesasClassificar" class="badge badge-danger">Edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary btn-sm" name="Salvar" value="Salvar">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}