{% extends 'index.html' %}
{% block content %}
<br><br>
<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-header">Bonds</div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Bond</th>
              <th scope="col">Start Date</th>
              <th scope="col">Start Index</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for d in tb %}
            <tr>
              <td>{{ d['id'] }}</td>
              <td>{{ d['bond'] }}</td>
              <td>{{ d['startdate'] }}</td>
              <td>{{ d['startindex'] }}</td>
              <td><a href="/investimentos/bonds?mode=edit&id={{ d['id'] }}" class="badge badge-danger">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% if modo == 'I' %}
  <div class="col-3">
    <div class="card">
      <div class="card-header">Adicionar</div>
      <div class="card-body">
        <form  action="/investimentos/bonds" method="post">
          <div class="form-group row">
            <label for="idData" class="col-4 col-form-label">Bond</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idData" name="bond" value="" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <label for="idIndice" class="col-4 col-form-label">Start Date</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idIndice" name="startdate" value="" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <label for="idValor" class="col-4 col-form-label">Start Index</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idValor" name="startindex" value="" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <div class="col-10">
              <button type="submit" class="btn btn-primary btn-sm" name="Criar" value="Criar">Criar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% elif modo == 'E' %}
  <div class="col-4">
    <div class="card">
      <div class="card-header">Editar</div>
      <div class="card-body">
        <form  action="/investimentos/bonds" method="post">
          <div class="form-group row">
            <label for="idID" class="col-4 col-form-label">ID</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idID" name="id" value="{{ rs['id'] }}" readonly></div>
          </div>
          <div class="form-group row">
            <label for="idData" class="col-4 col-form-label">Bond</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idData" name="bond" value="{{ rs['bond'] }}" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <label for="idIndice" class="col-4 col-form-label">Start Date</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idIndice" name="startdate" value="{{ rs['startdate'] }}" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <label for="idValor" class="col-4 col-form-label">Start Index</label>
            <div class="col-8"><input type="text" class="form-control form-control-sm" id="idValor" name="startindex" value="{{ rs['startindex'] }}" autocomplete="off"></div>
          </div>
          <div class="form-group row">
            <div class="col-10">
              <button type="submit" class="btn btn-primary btn-sm" name="Update" value="Update">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}
</div>
{% endblock %}
